@import "@fortawesome/fontawesome-svg-core/styles";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html body { @apply bg-gray-100 text-gray-900; }
  html body.dark { @apply bg-gray-800 text-gray-100; }

  html body:dark

  button:focus {
    outline: none;
  }

  ::-webkit-scrollbar {
    @apply w-0 bg-transparent;
  }
}
